<!DOCTYPE html>
<head>
    <title>Doomsday Clock</title>
    <link rel="stylesheet" href="static/style.css" />
</head>
<body>
    <h1>2038 Problem Doomsday Clock</h1>
    <p>On January 19, 2038, legacy UNIX systems will experience a buffer overflow because they have been counting down the seconds since January 1, 1970</p>
    <p>We don't know what kind of havoc this could cause, but it will defintely impact some aviation and financial systems.</p>
    <p>Here's how long we have to fix it:</p>
    {% block content %}{% endblock %}
</body>
</html>
                                                                                                                                                                                                                                                                                                                                            